html {
  --container: 600px;
  --padding-container: 10px;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: Zen Maru Gothic, sans-serif;
  min-width: 320px;
  min-height: 100vh;
  background-color: white;
  display: flex;
  justify-content: center;
}

.page {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  width: 100%;
  align-items: center;
}

img,
svg {
  max-width: 100%;
  max-height: 100%;
  height: auto;
}

button {
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
p,
figure {
  margin: 0;
}
fieldset {
  padding: 0;
  margin: 0;
  bottom: 0;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.container {
  max-width: calc(var(--container) + var(--padding-container) * 2);
  padding: 0 var(--padding-container);
  margin: 0 auto;
}

.hover:hover {
  opacity: 0.8;
  cursor: pointer;
}
