.description {
  width: 100%;
  padding: 0 73px;
  display: flex;
  flex-direction: column;
}

.description__title {
  width: 145px;
  font-size: 50px;
  font-weight: 300;
  line-height: 50px;
  padding-bottom: 15px;
  border-bottom: 5px solid rgba(129, 135, 200, 1);
  margin-bottom: 33px;
}

.description__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.description__text {
  width: 720px;
  font-size: 35px;
  line-height: 35px;
}

.description__image {
  background-image: url('/images/headerLogo.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 450px;
}

@media screen and (max-width: 768px) {
  .description {
    margin-bottom: 50px;
  }

  .description__title {
    font-size: 45px;
  }

  .description__content {
    flex-direction: column;
  }

  .description__text {
    width: 100%;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 360px) {
  .description {
    padding: 0 22px;
  }

  .description__title {
    font-size: 25px;
    padding-bottom: 0;
    width: 70px;
    margin-bottom: 26px;
  }

  .description__text {
    width: 100%;
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 0;
  }
}