.footer {
  display: flex;
  flex-direction: column;
  background-color: rgba(129, 135, 200, 1);
  height: 230px;
  /* max-width: 1440px; */
  align-items: center;
  width: 100%;
}

.footer__links {
  display: flex;
  flex-direction: row;
  gap: 40px;
  margin: 51px 0 25px;
}

.footer__link {
  font-size: 30px;
}

.footer__icon {
  background-image: url('/images/footerIcon.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 160px;
  height: 60px;
  margin-bottom: 15px;
}

.footer__copyright {
  color: #fff;
  font-size: 18px;
}

@media screen and (max-width: 520px) {
  .footer {
    height: auto;
    padding-bottom: 30px;
  }

  .footer__links {
    flex-direction: column;
    gap: 15px;
    margin: 22px 0;
  }

  .footer__link {
    font-size: 18px;
    text-align: center;
  }

  .footer__copyright {
    font-size: 12px;
    text-align: center;
  }
}
