/* zen-maru-gothic-regular - cyrillic_latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Zen Maru Gothic';
    font-style: normal;
    font-weight: 400;
    font-display:swap ;
    src: url('../fonts/zen-maru-gothic-v17-cyrillic_latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* zen-maru-gothic-500 - cyrillic_latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Zen Maru Gothic';
    font-style: normal;
    font-weight: 500;
    font-display:swap ;
    src: url('../fonts/zen-maru-gothic-v17-cyrillic_latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* zen-maru-gothic-700 - cyrillic_latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Zen Maru Gothic';
    font-style: normal;
    font-weight: 700;
    font-display:swap ;
    src: url('../fonts/zen-maru-gothic-v17-cyrillic_latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* zen-maru-gothic-900 - cyrillic_latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Zen Maru Gothic';
    font-style: normal;
    font-weight: 900;
    font-display:swap ;
    src: url('../fonts/zen-maru-gothic-v17-cyrillic_latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }